:root {
    --primary-color: #3baea0;
    --secondary-color: #eef2e2;
    --main-font: "Merriweather", serif;
    --sec-font: "Kanit", sans-serif;
}
body {
font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--sec-font);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
h2 {
    font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #636669;
}
h3 {
  font-weight: bolder;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 75px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #636669;
}
nav a:hover, nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.big-logo {
  max-width: 150px;
}
.logo {
  max-height: 40px;
}
.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 100px 0;
    padding-bottom: 30px;
}
.hero p {
    font-size: 25px;
}
.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
}
.btn-branding-project {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
  .project-description {
    text-align: center;
  }
  .hero {
    padding: 50px;
  }
  nav a {
    font-size: 13px;
  }
}
@media (max-width:900px) {
  .content {
    text-align: center;
    padding:0;
  }
  .about-image {
    margin-top: 10px;
  }
}
.project-description p {
  line-height: 2;
  opacity: 0.8;
}
.content {
  margin: 80px;
  padding: 30px;
}
.content h1 {
  font-size: 50px;
}
.content h2 {
  font-size: 18px;
}
.content p {
  line-height: 2;
}
.about-image {
  max-width: 50%;
  border-radius: 10px;
  margin: 30px;
}
footer {
  text-align: center;
}    
